/* src/global.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 置中內容 */
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

header {
  margin-bottom: 20px; /* 增加底部間距 */
  padding: 20px; /* 增加內邊距 */
  background-color: #ffffff; /* 添加背景顏色 */
  border-radius: 12px; /* 添加圓角 */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* 添加陰影 */
  text-align: center; /* 文字居中 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 添加過渡效果 */
}

header:hover {
  transform: translateY(-5px); /* 添加懸停效果 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 增加懸停時的陰影 */
}

h1 {
  margin: 0; /* 移除標題的默認間距 */
  margin-bottom: 10px; /* 增加標題和描述之間的間距 */
  font-size: 28px; /* 調整字體大小 */
  color: #333; /* 調整字體顏色 */
  font-weight: bold; /* 加粗字體 */
}

p {
  margin: 0; /* 移除描述的默認間距 */
  font-size: 18px; /* 調整字體大小 */
  color: #666; /* 調整字體顏色 */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto; /* 置中列表 */
  width: 100%;
  max-width: 400px; /* 設置最大寬度 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 置中列表 */
}

li {
  margin: 10px 0;
  width: 100%; /* 使列表項目寬度與父元素一致 */
}

a {
  display: flex;
  align-items: center;
  justify-content: center; /* 使文字置中 */
  text-decoration: none;
  color: #2c3e50;
  font-size: 18px;
  padding: 12px;
  border: 1px solid #ecf0f1;
  border-radius: 12px; /* 增加圓角 */
  background-color: #ecf0f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 增加陰影 */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  width: 100%; /* 設定寬度為100% */
  max-width: 300px; /* 設定最大寬度 */
}

a:hover {
  background-color: #ff9900;
  color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 增加懸停時的陰影 */
  transform: translateY(-5px); /* 增加立體感 */
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.link-text {
  flex: 1; /* 使文字占據剩餘空間 */
  text-align: center; /* 使文字在其區域內置中 */
}

/* 響應式設計 */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  a {
    font-size: 16px;
    padding: 10px;
  }
}